
/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "Open Sans", sans-serif;
}

body{
background-color: black;
height: 100vh;


}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

 .btn-contato button{

    padding: 0 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(59, 69, 126);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #27386e;
transform: scale(1.05);

}





/*ESTILO D CABEÇALIO */
header{
    padding: 40px 4%;
  
  

}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-top: 85px;

}

h2.titulo span{
    color: #23305a;
   
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}


header > .interface img{
    
    height: 85px;
    width: 85px;
    border-radius: 50px;
}

 

header a{
    color:#333f66;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{

    color: #fff;
    transform: scaleX(1.15);

}


header nav ul{
    list-style-type: none;
  ;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 60px;
   
   
}
.btn-contato button{

    padding: 0 20px;
    font-size: 35px;
    font-weight: 500;
    background-color:#23305a;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transform: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
}
  button:hover{
    box-shadow: 0px 0px 8px #ecce8c10;
transform: scale(1.05);
}

/*ESTILO MOBILE*/

.btn-abrir-menu i{

    color: #23305a;
    font-size: 40px;
   
}

.menu-mobile.btn-abrir-menu {
    width: 70%;
}

.menu-mobile.btn-abrir-menu ~ .overlay-menu1{
    display: block;
}
.menu-mobile{
    background-color: #0e0d0d;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width:0%;
    overflow: hidden;
    transition: 2s;

}

.menu-mobile .btn-fechar i{
color:#23305a;
font-size: 30px;


}

.menu-mobile .btn-fechar {
padding: 20px 5%;

}


    .menu-mobile nav ul{
        text-align: right;
    } 
  
    .menu-mobile nav ul li a{
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      padding: 20px 8%;
      display: block;

    }
    .menu-mobile nav ul li a:hover{
    background-color:#23305a;  
     color: #535353;
   
}
.overlay-menu1{
    background-color: #1d1c1c07;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
    

}



/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    min-height: 280vh;

background: url(assets/foto.pa4.jpg)no-repeat ;
  display: flex;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-position: center center;
}

section.topo-do-site.flex{

    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color:#23305a;
    font-size: 75px;
    line-height: 40px;

}

.topo-do-site h1 span{
    color: #23305a;
    font-size: 84px;

}

.topo-do-site p{
    color: #23305a;
    margin: 100px 0;
    font-size: 45px;
    align-items: center;
    display: flex;
    text-align: center;

  
}

.btn-contato button{

    padding: 0 20px;
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(52, 69, 114);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.topo-do-site .img-topo-site img{

    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 480px;
    width: 480px;
    border-radius: 50%;
   
  
}




@keyframes flutuar{
    
    0%{
    
    top:0;

    }
    100%{
        top:30px;
    }
}

/*ESTILO DA ESPECIALIDADE*/

.section.especialidade{
    
    padding: 40px 4%;

}

section.especialidade .flex{
    gap: 60px;


}

.especialidade .especialidade-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top:45px;
    transition: .2s;


}

.especialidade .especialidade-box:hover{

   transform: escale(1.05);
   box-shadow: 0 0 20px #ffffff71 ; 
}

.especialidade .especialidade-box i{

    font-size: 70px;
    color:#23305a;

}

.especialidade .especialidade-box h3{
    font-size: 28px;
    margin: 15px 0;


}
/*ESTILO DO SOBRE*/

section.sobre{
padding: 100px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{

    color: #fff;
}

.sobre .txt-sobre h2{

font-size: 40px;
line-height: 40px;
margin-bottom: 30px;

}

.sobre .txt-sobre h2 span{

    color:#23305a;
    display: block;
}

.sobre .txt-sobre p{

    margin: 20px 0;
    text-align: justify;


}

.img-sobre img{

    border-radius: 25px;
    
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #23305a;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*ESTILO PORTIFÓLIO*/

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 50px 10px #ffffff3e ;

}

section.portifolio .flex{

    justify-content:space-around ;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color:#23305a;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
   
   

    

}

.img-port:hover{

    background-position: 100% 100%;
}
.img-port video{
    display:flex;
    margin-top: 55px;
}


.foto-2 img{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
   border-radius: 40px;
    position: relative;
  margin-left: 5px;
    margin-top: 55px;
  
}
.overlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #85cbf356;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{

    opacity: 1;


}

/*ESTILO DE FORMULARIO DE CONTATO*/

section.formulario{

    padding: 80px 4%;
}
form{  
max-width: 500px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
gap: 10px;
margin-top: 30px;

}

form input{
    width: 100%;
    background-color: #1f1e1e;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius:20px;
}


form input::placeholder{
    color: #92b7ee67;

}
form input, form textarea{
    width: 100%;
    background-color: #141413;
    border: 0;
    outline: 0;
    padding: 20px 15;
    color: #fff;
    font-size: 18px;

}

 form textarea{

    resize: none;
max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
  
  
}

form .btn-enviar input{
    width: 120px;
    background-color:#23305a;
    font-weight: 700;
    cursor: pointer;
transition: .2s;
}

/*--rodape--*/
.logo-footer img{
    
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.footer{
    padding: 40px 4%;
    box-shadow: 0 0 50px 10px #ffffffef ;

}

.flex{
    justify-content: space-between;
}

.line-footer{
    padding: 20px 0;
    
}

.borda{
    border-top:  2px solid #23305a;
}

.line-footer p i{
color: #23305a;
margin-left: 25px;
font-size: 25px;
}

.line-footer p a{
    color: #fff;
}

@media screen and (max-width:1020px){
    
    /* classes  gerais*/
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 34px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /* cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;

      
    }
        /*topo do site*/

        section.topo-do-site.flex{

           
            gap: 40px;
        }
      
        section.topo-do-site{

            padding:  20px 8%;
        
        
        }
    .topo-do-site h1{
        
        font-size: 30px;
       
    
}
.topo-do-site .img-topo-site img{
    width: 80%;
}
    /*especialidade */
   
    .section.especialidade {
        padding: 40px 8%;
    }

/* sobre */
selection.sobre{
    padding: 80px 8%;
}

.sobre .txt-sobre h2{

    font-size: 32px;
    line-height: 35px;
   text-align: center;
    
    }

    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
    /*portifolio */
    section.portifolio {
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        min-width: 360px;
        margin: 0 auto;
      
    
    }

    section.portifolio .flex{
        gap: 60px;
    }

    /* rodape */

    footer .flex {

       flex-direction: column;
    }
   
    footer .line-footer{
        text-align: center;
    }
}
    












